.gray {
  background-color: #ebebe6;
}

.text {
  font-size: 130%;
}

.small-star {
  font-size: 50%;
}

.question {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.title {
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.my-button {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.modal {
  width: 80%;
  height: 50%;
  top: 25%;
  left: 5%;
  background-color: transparent;
}
